/* Chris Winn --- Due 4/27/20 --- Git Some Practice */
/* Main section controls*/
body{
	background-color: blue;
	background-image: url("springier.jpg");
	background-size: cover;
}
img{
	border-style: solid;
	border-width: 2px;
}


